modelsi*/
modelsi*/trk_d_mem_access_no_time.log
modelsi*/trk_reg_access.log
modelsi*/vsim.wlf
modelsi*/wlft6rynxs
modelsi*/wlft9z2tj7
modelsi*/wlftdit2jg
modelsi*/wlftidc65b
modelsi*/wlftjwg7tf
modelsi*/wlfttt3qr2
modelsi*/transcript
modelsim/transcript
modelsi*/trk_d_mem_access.log
modelsi*/trk_d_mem_access_no_time.log
modelsim/trk_d_mem_access.log
modelsim/trk_d_mem_access_no_time.log
modelsi*/trk_reg_access.log
modelsi*/vsim.wlf
modelsi*/work/*
!modelsi*/work/README.MD
